.canvas {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 4px;
}

.sectionWrap {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.elementDragHandle {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.iconButton {
  all: unset;
  position: absolute;
  right: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #2684ff;

  svg {
    stroke: white;
    width: 18px;
    height: 18px;
  }
}

.activeOver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.draggableElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
