.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createButton {
  border-radius: 8px;
}

.contentWrapper {
  background-color: #f4f5f7;
  padding: 2rem;
  border-radius: 16px;
}

.section {
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
