.sectionWrap {
  position: relative;
}

.section {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  transition: max-width 0.2s ease;
  background-color: #fafafa;
  border: 1px dashed #ccc;
}

.desktop {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 4px;
}

.mobile {
  max-width: 375px;
  margin: 0 auto;
}

.sectionElement {
  display: flex;
  gap: 16px;
}
